# Dependencies
/node_modules

# Build output and caches
/.svelte-kit
/.vercel
/.netlify
/.wrangler
/build

# Environment variables
.env
.env.local
.env.*
!.env.example
!.env.test

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Vite cache files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*